@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");

:root {
  --body-background: #000116;
  --box-background: rgba(255, 255, 255, 0.3);
  --button-background: rgba(255, 255, 255, 0.8);
  --navigation-background: rgba(255, 255, 255, 0.5);
  --navigation-background-active: #4285f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--body-background);
  width: 100vh;
  margin: 0 auto;
}

.carousel {
  position: relative;
}

.carousel-container {
  position: relative;
  min-height: 500px;
  overflow: hidden;
}

.carousel-item {
  position: absolute;
  top: 20vh;
  clip-path: circle(0% at 0 50%);
}

.carousel-item.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.carousel-info {
  position: absolute;
  top: 40px;
  left: 40px;
  border-radius: 10px;
  padding: 10px 0 10px 20px;
  width: 80%;
  background: var(--box-background);
  box-shadow: 5px 5px var(--box-background);
}
.carousel-info p {
  font-size: 0.8em;
  padding-top: 8px;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 60%;
  width: 100%;
}
button {
  background-color: var(--button-background);
  outline: none;
  border: none;
  padding: 10px 5px;
  cursor: pointer;
}
