body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

p {
	padding: 10px
}

button {
	/* border: none; */
	font-size: 1.5em;
	background-color: #ffff;
	cursor: pointer;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	background-image: url("mole.jpg");
	background-size: cover;
}
